body {
    background-color: #003366;
}
.indexabout {
    font-family: 'Asul', sans-serif;
}
.contact {
    font-family: 'K2D', sans-serif;
}
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #CCE6FF;
}
ul {
    background-color: #003366;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
li {
    /* display: inline; */
    float: left;
}
li a {
    color: #CCE6FF;
    text-decoration: none;
    padding: 13px;
    display: block;
}
li a:hover:not(.active) {
    background-color: #0066CC;
}
.active {
    background-color: #004D99;
}
.aboutluisreyes {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #CCE6FF;   
}
.aboutluisreyes a {
    text-decoration: none;
    color: #99CCFF;
}
.videooftheweek {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #CCE6FF    
}
.navlinks a {
    color: #CCE6FF;
    background-color: transparent;
    text-decoration: none;
    padding: 13px;
    float: right;
}
hr {
    border: 1px solid #CCE6FF;
}
footer {

}
.bottomfooter {
}
.copyright, .socialmedialinks {
    float: left;
    width: 50%;
    vertical-align: middle;
}
.copyright {
    color: #CCE6FF;
    height: 64px;
}
.socialmedialinks {
    font-size: 20px;
    text-align: right;
}
.socialmedialinks a {
    color: #CCE6FF;
    padding-left: 10px;
}
/* .clearfloat { */
    clear: both;
}